<%= link_to "Voltar", diretrize_path(@diretriz) %>
<h5>Paragrafo:</h5>
<p><%= @paragrafo.texto %></p>
    	<%= render @form %>
<div id="comentarios">
	<h4>Contribui&ccedil;&otilde;es</h4>
	<ul>
		<% @paragrafo.comentarios.each do |comentario|
			if( comentario.persisted? )
		%>
			<li>
				<p><b>Contribuição:</b> <%= comentario.texto %></p>
				<p><b>Justificativa:</b> <%= comentario.justificativa %></p>
				<p><b>Data:</b> <%= comentario.created_at %></p>
				<p><b>Por:</b> <%= comentario.user.nome %></p>
			</li>
		<% 	end 
		end
		%>
	</ul>
</div>