<li>
	<%= link_to("Home", root_path) %>
</li>
<% if user_signed_in? %>
  <li>
  	<%= link_to("Escolha Consulta", diretrizes_path) %>
  </li>
  <li>
    <%= link_to("Sair", logout_path) %>
  </li>
<% else %>
  <li>
    <%= link_to("Login", login_path)  %>
  </li>
  <li>
    <%= link_to("Cadastrar", join_path)  %>
  </li>
<% end %>