<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Senha" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Logar" %></div>
<% end %>
<p>Para visualizar o documento e fazer contribuições é necessario ter um cadastro. </p>
<p>Caso ainda não possua, <%= link_to "clique aqui", join_path %> para Cadastrar.</p>