<%= link_to "Voltar", diretrizes_path %>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm">
	<FONT FACE="Arial, sans-serif">
		<B>POLÍTICA MUNICIPAL DE ALIMENTAÇÃO E NUTRIÇÃO</B>
	</FONT>
</P> 
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm">
	<FONT FACE="Arial, sans-serif">
		<B>Matriz para elaboração dos princípios, eixos, ações e estratégias</B>
	</FONT>
</P> 
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR></P> 
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm">
	<B>
		<FONT FACE="Arial, sans-serif">
			<SPAN STYLE="font-style: normal">DIRETRIZ:</SPAN>
		</FONT>
		<FONT FACE="Arial, sans-serif">
			<SPAN STYLE="font-style: normal"><%= @diretriz.titulo%></SPAN>
		</FONT>
	</B>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; font-style: normal"><BR></P>
<table width=1226 cellpadding=4 cellspacing=0> 
<colgroup>
	<col width="156">
	<col width="433">
	<col width="334">
	<col width="269">
</colgroup>
<thead>
	<tr valign="TOP">
		<td width="156" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="CENTER" style="font-style: normal"><font face="Arial, sans-serif"><b>EIXOS</b></font></p>
		</td>
		<td width="433" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="CENTER" style="margin-bottom: 0cm; font-style: normal"><font face="Arial, sans-serif"><b>AÇÕES</b></font></p>
			<p align="CENTER" style="font-style: normal; font-weight: normal"><font face="Arial, sans-serif">(O
			que fazer)</font></p>
		</td>
		<td width="334" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p align="CENTER" style="margin-bottom: 0cm; font-style: normal"><font face="Arial, sans-serif"><b>ESTRATÉGIAS</b></font></p>
			<p align="CENTER" style="font-style: normal; font-weight: normal"><font face="Arial, sans-serif">(Como
			fazer)</font></p>
		</td>
		<td width="269" style="border: 1px solid #000000; padding: 0.1cm">
			<p align="CENTER" style="margin-bottom: 0cm; font-style: normal"><font face="Arial, sans-serif"><b>ATORES</b></font></p>
			<p align="CENTER" style="font-style: normal; font-weight: normal"><font face="Arial, sans-serif">(Quem
			faz)</font></p>
		</td>
	</tr>
</thead>
	<tbody>
		<% @diretriz.eixos.each do |eixo| %>
		<tr valing="top">
			<td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
				<p align="CENTER" style="font-style: normal"><b><%= eixo.texto %></b></p>
				<b><%= eixo.comentarios.count %> Contribuições</b>
				<%= link_to "Contribuir", diretrize_eixo_path(@diretriz,eixo) %>
			</td>
			<td colspan="3" style="border-width: 0px 1px 1px 1px; border-color: -moz-use-text-color -moz-use-text-color rgb(0, 0, 0) rgb(0, 0, 0); padding: 0cm 0cm 0.1cm 0.1cm; border-style: solid;">
				<table width="100%">
					<% 
						eixo.acoes.each do |acao|						
					%>
					<tr valing="top">
						<td valing="top" width="433" style="border-right: 1px solid;">
							<p align="JUSTIFY" ><%= acao.texto %></p>
							<b><%= acao.comentarios.count %> Contribuições</b>
							<%= link_to "Contribuir", diretrize_eixo_aco_path(@diretriz, eixo, acao) %>
						</td>
						<td>
							<table>
								<tr>
									<td width="334" style="border-right: 1px solid;">
										<% acao.estrategias.each do |estrategia| %>
										<p align="JUSTIFY"><%= estrategia.texto %></p>
										<b><%= estrategia.comentarios.count %> Contribuições</b>
										<%= link_to "Contribuir", diretrize_eixo_aco_estrategia_path(@diretriz, eixo, acao, estrategia) %>
										<% end %>
									</td>
									<td width="269">
										<% acao.atores.each do |ator| %>
										<p align="JUSTIFY"><%= ator.texto %></p>
										<b><%= ator.comentarios.count %> Contribuições</b>
										<%= link_to "Contribuir", diretrize_eixo_aco_atore_path(@diretriz, eixo, acao, ator) %>
										<% end %>
									</td>									
								</tr>
							</table>
						</td>
					</tr>
					<% end %>
				</table>
			</td>			
		</tr>
		<% end %>
	</tbody>
</table>