<!DOCTYPE html>
<html>
  <head>
    <title>Consulta</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
	<div class="menu">
	  	<ul class="hmenu">
	    	<%= render 'shared/menu_items' %>
	    </ul>
	</div>
    <%= yield %>

  	<%= javascript_include_tag "application" %>
  </body>
</html>
