<!DOCTYPE html>
<html>
  <head>
    <title>Consulta</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
   <%= render :partial => "layouts/ga" %>
  </head>
  <body>
	<div id="container">
		<div class="menu">
	  		<ul class="hmenu">
	    		<%= render 'shared/menu_items' %>
	    	</ul>
		</div>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>	
    	<%= yield %>
		<%= render 'shared/rodape' %>
	</div>
  	<%= javascript_include_tag "application" %>
  </body>
</html>
